services:
  app:
    image: thecodingmachine/php:${PHP_VERSION:-8.2}-v4-cli
    environment:
      PHP_EXTENSION_INTL: 1
      TYPO3_VERSION: ${TYPO3_VERSION:-^12.4}
    volumes:
      - ./:/usr/src/app
