name: CI

on:
  push:
    branches:
      - master
    tags:
      - '*'
  pull_request:
    branches:
     - master
  schedule:
    - cron: '0 7 * * *'

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php:
          - 7.2
          - 7.4
        typo3:
          - ^10.4
          - ^9.5
        include:
          - php: 7.4
            typo3: ^11.5
          - php: "8.0"
            typo3: ^11.5
          - php: 8.1
            typo3: ^11.5

    steps:
      - uses: actions/checkout@v3

      - name: Build
        env:
          PHP_VERSION: ${{matrix.php}}
          TYPO3_VERSION: ${{matrix.typo3}}
        run: docker-compose run --rm app composer build

      - name: Cleanup
        if: ${{ always() }}
        run: docker-compose down --volumes
